:root {
    --color1: #FDFFFC;
    --color2: #D3D5D4;
    --color3: #1F1E1F;
    --color4: #062153;
    --color5: #0C3D97;
    --color6: #3d75dd;
    --color7: #F83A53;
    --color8: #D90824;
    --color9: #f7f7ff;
    --color10: #f2f2ff;

    --cardMargin: calc(24.5% - 20px);
}


body {
    text-align: center;
    font-size: calc(.8vw + 12px);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    background-color: var(--color4);

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}

.flashcards {
    width: calc(3.7vw + 25px);
    transform: translateY(calc(1vw + 5px)) translateX(calc(-1vw + 5px));
    
}

.justcolor {
  background-color: var(--color9);
  margin-left: -.44vw;
  margin-right: -.44vw;
}

.justcolor1 {
  background-color: var(--color6);
  margin-left: -.44vw;
  margin-right: -.44vw;
}

.justcolor2 {
  background-color: var(--color4);
  margin-left: -.44vw;
  margin-right: -.44vw;
}

.totalDiv {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0vw;
  left: 0vw;
  right: 0vw;
  padding: 1vw;
  background-color: var(--color6);
  color: var(--color1);
  z-index: 1;
  margin-left: -.44vw;
  margin-right: -.44vw;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
    font-size: calc(2.2vw + 25px);
    font-weight: 700;
    letter-spacing: 0.3vw;
    margin-bottom: calc(.3vw + 4px);
    margin-top: calc(-1.6vw + 3px);
    color: white;
    text-shadow: .1vw .1vw .075vw var(--color3) ,calc(.12vw + 3px) calc(.12vw + 3px) .05vw var(--color7);
}

h1:hover {
  cursor: pointer;
  color: var(--color7);
  font-size: calc(2.4vw + 25px);
  text-shadow: .1vw .1vw .075vw var(--color8) ,calc(.12vw + 3px) calc(.12vw + 3px) .05vw var(--color9);
  transition: all 150ms ease-in-out;
}

h2 {
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 0.2vw;
    font-size: calc(2vw + 5px);
    margin-top: 1vw;
    font-weight: 300;
    color: var(--color1);
}

.per{font-family: 'Nunito Sans', sans-serif; font-weight:700; font-style: italic; color: var(--color4); }

.forms{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}

.outerFormsDiv {
  background-color: var(--color9);
  margin-left: -.44vw;
  margin-right: -.44vw;
  padding-right:15vw;
  padding-left:15vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
}

select {
  font-size: .8em;
    letter-spacing: 0.02em;
    font-family: 'Nunito Sans';
    font-weight: 600;
    color: var(--color4);
    line-height: 1.3;
    padding: .2em .4em .2em .4em;
    width: 13em;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    margin-left: .2em;
    border: .1em solid var(--color4);
    box-shadow: 0 .05em 0 .05em rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--color1);
    text-align-last:center;
    outline: none;
    transition: background-color .2s
}

select:hover {
  background-color: var(--color10);
  cursor: pointer;
}

select option {
  background-color: var(--color1);
}

.res {display: flex; flex-direction: column; }

.header {
  background-color: var(--color4);
  margin-left: 0vw;
  margin-right: 0vw;
  padding-bottom: 0.05vw;
}

footer {
  flex-shrink: 0;
  background-color: var(--color4);
  margin-left: 0vw;
  margin-right: 0vw;
  margin-bottom: -.8vw;
  padding: 1vw;
  font-family: 'Pacifico', cursive; 
  color: var(--color1); 
  font-size: calc(0.8vw + 10px);
}

button {
    background-color: var(--color6);
    border: 2px solid var(--color6);
    color: var(--color1);
    padding: calc(.4vw + 4px) calc(.6vw + 5px);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(.75vw + 5px);
    border-radius: calc(.3vw + 5px);
    margin-left: calc(.1vw + 2px);
    margin-right: calc(.1vw + 2px);
    transition-duration: 0.2s;
    outline: none;
    cursor: pointer;
}
  
button:hover {
    border: 2px solid var(--color6);
    background-color: var(--color1); /* Green */
    color: var(--color6);
  }
  

.card {
    display: block;
    margin-left: var(--cardMargin);
    margin-right: var(--cardMargin);
    margin-bottom: calc(1vw + 12px);
    border: 2px solid black;
    transition: transform 0.5s, background-color .4s;
    transform-style: preserve-3d;
    padding-left: 1vw; padding-right: 1vw;
    background-color: var(--color9);
    cursor: pointer;
  }

  .card-animated {
    display: block;
    margin-left: var(--cardMargin);
    margin-right: var(--cardMargin);
    margin-bottom: calc(1vw + 12px);
    border: 2px solid black;
    transition: transform 0.5s, background-color .4s;
    animation-iteration-count: 1;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    padding-left: 1vw; padding-right: 1vw;
    background-color: var(--color9);
    cursor: pointer;
  }

  .cardDiv {
    background-color: var(--color9);
    padding: .5vw;
    margin-left: -.44vw;
    margin-right: -.44vw;
  }

  @keyframes example {
    33%  {box-shadow: .12em .12em var(--color4);}
    66%  {box-shadow: .12em .12em var(--color4), .24em .24em var(--color5);}
    100% {box-shadow: .12em .12em var(--color4), .24em .24em var(--color5), .36em .36em var(--color6);}
  }
  @keyframes example1 {
    33%  {box-shadow:-.12em .12em var(--color4);}
    66%  {box-shadow:-.12em .12em var(--color4), -.24em .24em var(--color5);}
    100% {box-shadow:-.12em .12em var(--color4), -.24em .24em var(--color5), -.36em .36em var(--color6);}
  }

  .card:hover {
    animation-timing-function: ease-in-out;
      animation-name: example;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
}

.card-animated:hover {
    animation-timing-function: ease-in-out;
    animation-name: example1;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
  
  .isFlipped {
    transform: rotateY(180deg);
    padding-left: 3vw; padding-right: 3vw;
  }

.pontos {
    position: absolute;
    top: .4vw;
    right: 0vw;
    font-size: 70%; 
    height: 70%;
    font-weight: bold;
    font-style: italic;
}

.check {
  position: absolute;
  top: .45vw;
  left: -.2vw;
  font-size: 70%; 
  height: 70%;
}

.pointcontainer {position: relative }

.scrollButtonDiv {
  position: fixed;
  bottom: calc(.8vw + 15px);
  right: calc(.8vw + 15px);
}

.scrollButton {
  border-radius: 8vw;
  margin: 0;
  border: 0;
  padding: calc(.2vw + 10px);
  opacity: 1;
  transition: opacity .5s,
}

.scrollButtonInv {
  opacity: 0;
}

.scrollIcon, .scrollIconBlue {
  width:calc(.8vw + 50px);
  margin: 0;
  margin-bottom: -.4vw;
  border: 0;
  padding: 0;
}

.imagemResposta, .imagemPergunta {
  border: .125vw solid var(--color4);
  max-width: calc(15vw + 170px);
  max-height: calc(15vw + 100px);
}

.topico{
  margin-left: var(--cardMargin);
  margin-right: var(--cardMargin);
  margin-top: calc(.5vw + 7px);
  margin-bottom: calc(.4vw + 5px);
  border: 0;
  font-family: 'Lobster', cursive;
  color: var(--color7); 
  font-size: calc(1.5vw + 20px);
  text-shadow: .15vw .15vw .01vw var(--color1);
  background: linear-gradient(to top, var(--color5) 23%, transparent 23%);
  -webkit-text-stroke: .5px var(--color8);
  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; 
}

.topico:hover {
  color: var(--color1); 
  font-size: calc(1.7vw + 25px);
  text-shadow: .15vw .15vw .01vw var(--color7);
  background: linear-gradient(to top, var(--color5) 23%, transparent 23%);
  -webkit-text-stroke: 1px var(--color8);
  transition: all 150ms ease-in-out;
}

.bold {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  font-style: italic;
  color: var(--color5);
}

.hrfaderl {
  border: 0;
  height: 1px;
  background: var(--color3);
  background-image: linear-gradient(to right, var(--color2), var(--color3), var(--color2));
}

.gif {
  border: .4vw solid var(--color4);
  border-radius: .5vw;
  padding: .2vw;
  max-width: calc(16vw + 200px);
  max-height: calc(16vw + 50px);
}



@keyframes trocarcartao {
  50%  {transform: translateX(-100%);}
  50%  {transform: translateX(100%);}
  100% {transform: translateX(0%);}
}

.cartao-appear {
  opacity: 0;
}

.cartao-appear.cartao-appear-active {
  opacity: 1;
  transition: opacity 700ms ease-in-out;
}

.cartao-exit {
  transform: translateX(0%);
}

.cartao-exit.cartao-exit-active {
  animation: trocarcartao 700ms
}

.cartao-exit-done {
  transform: translateX(0%);
}

.cartao-enter {
  transform: translateX(0%);
}

.cartao-enter.cartao-enter-active {
  animation: trocarcartao 700ms
}

.cartao-enter-done {
  transform: translateX(0%);
}







.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.fade-exit-done {
  opacity: 1;
}

.fade-enter {
  opacity: 1;
}

.fade-enter.fade-enter-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}



.topico-appear, .topico-enter{
  opacity: 0;
  transform: scale(.1);
}

.topico-appear.topico-appear-active, .topico-enter.topico-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 600ms, transform 250ms ease-in-out;
}